.modal-content iframe{
        margin: 0 auto;
        display: block;
    }


.jumbotron {
  text-align: center;
  background-image: url("../img/pizzatile.jpg");
  margin-top: 20px;
}

.jumbotron h1 {
  font-size: 80pt;
  color: pink;
  text-shadow: purple: 50px;
}

body {
  background-color: #f0ebfa;
}

/*.jumbotron .url {"../img/pizzatile.jpg"

}*/

.video {
  position: absolute;
  margin: auto;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.box {
   width: 115px;
   height: 50px;
   border:1px solid purple;
   background-color: pink;
}

p {
  color: purple;
  padding-top: 7px;
  font-size: 14pt;
  font-style: italic:bold;
  text-align: center;
}
